/* Reset padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sidebar fixa */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  padding: 20px;
}

/* Conteúdo principal */
main.content {
  margin-left: auto; /* espaço pro sidebar */
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 1rem;
  max-width: 1200px; /* limita em telas muito grandes */
  width: calc(100vw - 320px); /* ocupa o resto da tela com folga */
}
