/* Estilo para tabelas dentro de <details> */
details table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--table-row-edit-font-size);
  color: var(--text);
  background-color: var(--table);
}

details th {
  background-color: var(--th);
  color: var(--table-header-text-color);
  font-weight: var(--table-header-weight);
  padding: var(--table-header-padding-y) var(--table-header-padding-x);
}

details td {
  padding: var(--table-cell-padding-y) var(--table-cell-padding-x);
  background-color: var(--td);
}

/* Remove espaçamento desnecessário */
details > summary {
  margin-bottom: 0.2em;
}

/* Alinha o summary com a tabela */
details {
  margin-block-start: 1em;
  margin-block-end: 1em;
}
